.list-table-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.listtable {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}
ul { padding: 0 !important; list-style: none; }

.list-row  {
    display: flex;
}
.item-inner { display: flex; }

.list-header .item-inner {
    display: flex;
    font-weight: bold;
    background-color: #f2f2f2;
}
.list-cell {
    padding: 8px;
    text-align: left;
}


.list-cell-id { width: 9.64%; }
.list-cell-name { width: 60.63%; }
.list-cell-brand { width: 16.62%; }
.list-cell-qty .list-cell-red { width: 3.58%; }
.list-cell-date { width: 8.97%; }  

.stock-table {
    margin: 0 5%;
    width: 90%;
}
.list-header div {
    list-style: none;
    align-items: center;
    color: #a2a2a2;
    text-transform: uppercase;
}
.stock-head div {
    display: flex;
    padding: 5px 0;
    align-items: center;
    color: #a2a2a2;
    text-transform: uppercase;
}
.list-row:nth-child(even) { background-color: #cfcfcf; }
.exp-soon { background-color: #e3cf9c !important; }
.list-row.exp-soon:nth-child(even) { background-color: #c1ae74 !important; }
.exp-week { background-color: #e7bda0 !important; }
.list-row.exp-week:nth-child(even) { background-color: #d9996c !important; }
.exp-today { background-color: #e3a1a1 !important; }
.list-row.exp-today:nth-child(even) { background-color: #d77878 !important; }
.exp-past { background-color: #e56565 !important; }
.list-row.exp-past:nth-child(even) { background-color: #cd5454 !important; }

/* COLOURATION */
.pagination-container, .table-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
    width: 90%;
    height: 50px;
}
.pagination-container button {
    background-color: white;
    border: none;
    color: #252728;
    text-align: center;
}
.pagination-container button:hover {
    color: #6c7b80;
}
.rows-per-page {
    align-self: center;
}

/* SEARCH AND FILTER */
.select, .search {
    position: relative;
    font-size: 16px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #e7e7e7;
    color: #52656f;
}
.filter-select .select-value {
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    width: 220px;
    background-color: #e7e7e7;
    color: #425159;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
}
.filter-select .select-value:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top-color: #425159;
}
.filter-select .select-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    border-radius: 0 0 4px 4px;
}
.filter-select.open .select-options {
    display: block;
}
.filter-select .select-options li {
    padding: 8px 15px;
    color: #425159;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}
.filter-select .select-options li:hover {
    background-color: #c7c7c7;
    color: #425159;
}

/* STOCK DELETE */
.stock-delete {
    display: none;
    vertical-align: middle;
    width: 0;
    transition: width 2s;
}
.stock-delete button {
    background-color: #a8000a; 
    border: none;
    color: white;
    padding: 0 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
  
.stock-delete.visible {
    display: block;
    width: 15%;
}

.shortened-name {
    white-space: nowrap;
}
@media only screen and (max-width: 1150px) {
    .stock-table {
        margin: 0 !important;
        padding: 0 !important;
        width: 170%;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 550px) {
    .stock-table {
        width: 250%;
    }
}
